.formContainer {
  flex: 3;

  form {

    label {
      font-size: 21px;
      margin-bottom: 8px;
    }

    .word-limit {
      display: inline-block;
      width: 90%;
      text-align: right;
    }

    .limit-exceed {
      color: red;
    }

    .input-heading {
      width: 90%;
      height: 45px;
      font-size: 18px;
      border: 1px solid #b7b7b7;
      padding-left: 12px;
    }

    div {
      label {
        display: block;
      }


      input:focus {
        outline: none;
        border: 3px solid #6BDA70;
      }

      textarea:focus {
        outline: none;
        border: 3px solid #6BDA70;
      }

      select:focus {
        outline: none;
        border: 3px solid #6BDA70;
      }
    }

    .textContainer {
      margin-top: 15px;

      textarea {
        border: 1px solid #b7b7b7;
        padding: 10px 14px;
        font-size: 18px;
        width: 90%;
        height: 125px;
        resize: none;
        overflow: scroll;
      }
    }

    .priorityContainer {
      select {
        font-size: 14px;
        background-color: #fff;
        padding: 6px 10px;
        border: 1px solid #b7b7b7;
        color: #000000;
        cursor: pointer;
        text-transform: capitalize;
      }
    }

    button {
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 100px;
      height: 32px;
      margin-top: 18px;
      background-color: #000000;
      color: #fff;
    }
  }
}