.list {
  background-color: #fff;
  padding: 20px 14px;
  border-radius: 6px;
  height: 300px;
  width: 400px;
  gap: 20px;

  .btnsContainer {
    display: flex;

    a {
      color: #fff;
      margin-top: 10px;
      border-radius: 6px;
      padding: 10px 16px;
    }

    .complete {
      background-color: green;
      margin-right: 8px;
    }

    .delete {
      background-color: red;
    }

  }
}