*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
  width: 95%;
  padding: 30px 0;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.heading-main {
  font-size: 40px;
}

div {

  .list-filter-container {
    display: flex;
    align-items: center;
  }
}

.list-detail-container {
  margin-top: 20px;
  background-color: #F6F6F6;
  display: flex;
  padding: 18px 36px;
}

label {
  font-size: 18px;
  font-weight: 500;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
}